<manifest package="org.xutils">
    <!--<application />-->
</manifest>



    <!--20161117-->
    <!--<?xml version="1.0" encoding="utf-8"?>-->
    <!--<manifest xmlns:android="http://schemas.android.com/apk/res/android"-->
    <!--xmlns:tools="http://schemas.android.com/tools"-->
    <!--package="org.xutils">-->

    <!--&lt;!&ndash;20161117minSdkVersion要高于appcompatV7定义的version&ndash;&gt;-->
    <!--<uses-sdk-->
    <!--android:minSdkVersion="14"-->
    <!--tools:overrideLibrary="android.support.v7.appcompat">-->
    <!--</uses-sdk>-->

    <!--</manifest>-->
    <!--20161117-->